<div id="form-container">
  <form
    [formGroup]="myForm"
    [hidden]="!loading"
    id="form-style"
    (submit)="submitButtonClicked()"
  >
    <mat-card class="my-1">
      <h2>Information</h2>

      <div class="row">
        <mat-form-field class="full-width px-1">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            onkeydown="return /[a-z]/i.test(event.key)"
          />
          <mat-error *ngIf="myForm.get('firstName')?.errors?.['required']">
            First name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width px-1">
          <mat-label>Last Name </mat-label>
          <input
            matInput
            formControlName="lastName"
            onkeydown="return /[a-z]/i.test(event.key)"
          />
          <mat-error *ngIf="myForm.get('lastName')?.errors?.['required']">
            Last name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width px-1">
          <mat-label>Date of birth </mat-label>
          <input
            matInput
            type="date"
            formControlName="dob"
            onkeydown="return /[a-z]/i.test(event.key)"
          />
          <mat-error *ngIf="myForm.get('dob')?.errors?.['required']">
            Date of birth is required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="row">
        <mat-form-field class="full-width px-1">
          <mat-label>Upload Image</mat-label>
          <input type="file" formControlName="image" />
          <mat-error *ngIf="myForm.get('dob')?.errors?.['required']">
            Image is required
          </mat-error>
        </mat-form-field>
      </div> -->
    </mat-card>

    <div class="d-flex justify-content-end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="myForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>

  <!-- <mat-spinner class="spinner" ngIf="!loading"></mat-spinner> -->

  <!-- <h1 class="notification is-success" ngIf="loading">
    Yay! We received your submission
  </h1> -->
</div>
